<form class="signin">
  <p class="error"></p>
  <div class="control-group">
    <label for="email" class="control-label">Email</label>
    <div class="controls"><input id="email" type="text" name="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label for="password" class="control-label">Password</label>
    <div class="controls"><input id="password" type="password" name="password" placeholder="Password">
    </div>
  </div>
    <button type="submit">Login</button>&nbsp;
    or&nbsp;<a href="#" class="show-signup">sign up</a>
</form>
